:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Pacifico', cursive;
  --ff-accent: 'Pacifico', cursive;
  --brand-accent: #b90012;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--ff-primary);
}

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  color: #242424;
  text-decoration: none;
}
a:hover {
  /* color: #535bf2; */
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

img {
  max-width: 100%;
}

.button {
  padding: 0.5em 1.75em;
  border-radius: 0.75em;
  cursor: pointer;
  border: none;
  font-size: 1em;
}

.button--primary {
  background-color: var(--brand-accent);
  color: white;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--brand-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-primary {
  font-family: var(--ff-primary);
}

.font-accent {
  font-family: var(--ff-accent);
}

.page-container {
  padding: 1em;
}

.header {
  border: 1px solid cyan;
}

.footer {
  margin-top: 1em;
  border: 1px solid red;
}

.logo {
  color: var(--brand-accent);
  font-size: 2em;
  text-shadow: 1px 1px #555;
}

.logo:hover {
  font-weight: normal;
}

.navigation--default {
  display: flex;
  align-items: center;
  gap: 1em;
}

.campground-grid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.campground-grid__container {
  border: 1px solid #242424;
  padding: 0.5em;
  border-radius: 0.75em;
}

.campground-grid__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.campground-grid--bold {
  font-weight: bold;
}

.campground-grid--tagline {
  margin-top: 0.75em;
}

.campground-grid--location {
  display: inline-block;
  margin-top: 0.5em;
}

.campground-grid--link {
  margin-top: 0.5em;
  font-weight: bold;
}

.campground-grid--navigation {
  display: flex;
  gap: 1em;
}

.footer--secondary {
  margin-top: 1em;
}
